.page-section {
  font-family: $mainFont;
  color: $red;
  font-style: italic;
  font-size: 3rem;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  justify-content: center;
  padding: 3rem;
  //background-color: $lightYellow;
}

@media (min-width: $tablet) {
  .page-section {
    padding: 5rem;
  }
}
.page-section-creator {
  font-family: $mainFont;
  color: $red;
  font-size: 3rem;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  justify-content: center;
  //padding: 3rem;
  //background-color: $lightYellow;
}
.textBlock {
  font-family: $secondFont;
  font-size: 1.5rem;
  font-style: normal;
  display: grid;
  grid-gap: 1.5rem;
  max-width: 100rem;
  margin: auto;
}

@media (min-width: $tablet) {
  .textBlock {
    font-size: 2rem;
  }
}

.button {
  width: 20rem;
  font-family: $mainFont;
  font-size: 1.75rem;
  background-color: $red;
  color: $yellow;
  margin: 3rem auto 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  -moz-outline-radius: 0.4rem;
  font-style: normal;
}

.button:hover {
  // background-color: $yellow;
  background-color: inherit;
  color: $red;
  outline: 0.2rem solid $mohogany;
  transition: ease-in 0.15s;
}

.divider {
  background-color: $mohogany;
  width: 15rem;
  height: 0.3rem;
  margin: auto;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.home-page {
  .missionStatement {
    font-style: normal;
    font-family: $secondFont;
  }

  .recentPublications {
    background-color: $lightYellow;
  }

  .gallery-item-box {
    background-color: white;
  }

  @media (min-width: $phone) {
    .publications {
      .container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media (min-width: $tablet) {
    .publications {
      .container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .filterDiv {
    display: inline-grid !important;
  }

  .instagram-feed {
    display: inherit;

    .label {
      margin-bottom: 1rem;
    }
  }
}

#thankyouheader {
  font-size: 5rem;
  font-family: $secondFont;
  font-style: normal !important;
}

#buttonthanks {
  width: 40rem;
  //height: 3rem;
  font-family: $mainFont;
  font-size: 3rem;
  background-color: $red;
  color: $yellow;
  margin: 3rem auto 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  -moz-outline-radius: 0.4rem;
  font-style: normal;
}
#buttonthanks:hover {
  // background-color: $yellow;
  background-color: inherit;
  color: $red;
  outline: 0.2rem solid $mohogany;
  transition: ease-in 0.15s;
}

// @media (min-width: $tablet)
