@import "./variables";

.logoimg {
  height: 4rem;
  width: auto;
}

.nav {
  // border-bottom: .8rem solid $mohogany;
  background-color: $yellow;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav-content {
  display: flex;
  flex-direction: column;
  height: 8rem;
  overflow: hidden;
}

@media (min-width: $laptop) {
  .nav-content {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    // padding-top: 2rem;
  }
}

@media (min-width: $desktop) {
  .nav-content {
    max-width: 120rem;
    // max-width: 100rem;
    margin: auto;
  }

  #searchInput {
    max-width: 20rem;
  }
}

.dropDown-menu {
  // background-color: white;
  cursor: pointer;
  padding: 2.5rem;
  // padding-right: 0;
  position: absolute;
  width: 3rem;
  // right: 0;
  //   margin: 0 auto;
}

@media (min-width: $laptop) {
  .dropDown-menu {
    display: none;
  }
}

.dropDown-menu div {
  transition: 0.1s ease-in;
}

.dropDown-menu {
  .one,
  .two,
  .three {
    background-color: $mohogany;
    height: 0.3rem;
    margin-bottom: 0.7rem;
    width: 3rem;
  }
  // .two {
  //   background-color: $mohogany;
  //   height: 0.5rem;
  //   margin-bottom: 0.5rem;
  //   width: 3rem;
  // }
  // .three {
  //   background-color: $mohogany;
  //   height: 0.5rem;
  //   margin-bottom: 0.5rem;
  //   width: 3rem;
  // }
}

.dropDown-menu.open {
  .one {
    transform: translateY(1rem) rotate(45deg);
  }
  .two {
    opacity: 0;
  }
  .three {
    transform: translateY(-1rem) rotate(-45deg);
  }
}

.dropDown-menuContent {
  display: none;
}

.dropDown-menu.display {
  background-color: $lightYellow;
  height: 96.5vh;
  width: 100vw;
  transition: 0.3s;
  z-index: 2;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .dropDown-menu.display {
    width: 35vw;
  }
}

@media (min-width: $laptop) {
  .dropDown-menu.display {
    width: 20vw;
  }
}

.dropDown-menu.display .dropDown-menuContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.dropDown-menuContent {
  // width: 86vw;
  cursor: auto;
  margin: 0 auto;

  // height: 100vh;
  // align-items: center;
}

.dropDown-menuContent div {
  font-size: 2.5rem;
  width: 96.5vw;
  text-align: center;
  height: auto;
  background-color: inherit;
  font-family: $secondFont;
  font-weight: 500;
}

@media (min-width: $tablet) {
  .dropDown-menuContent div {
    width: 35vw;
  }
}

@media (min-width: $laptop) {
  .dropDown-menuContent div {
    width: 20vw;
  }
}

.dropDown-menuContent a {
  text-decoration: none;
  color: $mohogany;
  // padding: 0.5rem;
  transition: 0.1s ease-in;
  // width: 90vw;
  // margin: 1rem;
}

// .dropDown-menuContent div:hover {
//     background-color: $mohogany;
//     transition: 0s;
//     color: white;
// }

.dropDown-menuContent div:hover a {
  color: $red;
}

.nav .socialMedia {
  display: inline-block;
  margin-top: 3rem;
}

.nav .socialMedia svg {
  margin: 1%;
  fill: $red;
}

.nav .socialMedia svg:hover {
  fill: $mohogany;
}

.logo {
  margin: auto;
  font-family: $mainFont;
}

@media (min-width: $laptop) {
  .logo {
    margin: auto;
    padding: 2rem;
  }
}

.logo a {
  display: flex;
  flex-direction: row;
}

.logo a {
  img {
    height: 4rem;
    width: 4rem;
    margin: auto;
  }

  div {
    line-height: 4rem;
    font-size: 2.5rem;
    color: $mohogany;
    display: none;
    margin-left: 2rem;
  }

  @media (min-width: $tablet) {
    div {
      display: inline;
    }
  }
}

.menu {
  display: none;
  color: $mohogany;
  // display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 0;
  font-family: $secondFont;
  font-weight: bold;
}

.menu a {
  font-size: 2rem;
  margin-left: 3rem;
}

@media (min-width: $laptop) {
  .menu {
    display: flex;
    margin: auto;
    padding: 2rem;
    padding-top: 0;
  }
}

// @media (min-width: $desktop) {
//   .menu {
//     margin-right: 15%;
//   }
// }

.menu a:hover {
  color: $red;
  transition: 0.1s ease-in;
}

.footer {
  font-family: $mainFont;
  color: $red;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}

.footer {
  .vectorbox {
    height: 65rem;
  }

  @media (min-width: $tablet) {
    .vectorbox {
      height: 40rem;
    }
  }
}

.footerinfo-box {
  font-family: $mainFont;
  color: $red;
  padding: 3rem;
  padding-top: 12rem;
  display: grid;
  grid-gap: 4rem;
}

@media (min-width: $tablet) {
  .footerinfo-box {
    padding-top: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media (min-width: $laptop) {
  .footerinfo-box {
    padding-right: 8%;
    padding-left: 8%;
    max-width: 100rem;
    margin: auto;
  }
}

.footerinfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.footer-copyright {
  font-size: 1.8rem;
  text-align: center;
  color: $mohogany;
}

.newsletterSignUp {
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
  }

  .submit {
    height: 100%;
  }

  .input-submit {
    height: 100%;
  }
}

.newsletter-header {
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
  font-weight: bold;
  color: $mohogany;
}

@media (min-width: $tablet) {
  .newsletterSignUp {
    width: 100%;
    margin: auto;

    .submit {
      width: 100%;
    }

    .input-submit {
      width: 100%;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr;
      grid-gap: 3rem;
      width: 100%;
    }
  }

  .footerinfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 4rem;
  }

  .newsletter-header {
    text-align: left;
  }
}

@media (min-width: $laptop) {
  .newsletterSignup {
    margin: auto;
  }

  .footerinfo {
    max-width: 100rem;
    margin: auto;
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .footerinfo div {
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: $laptop) {
  .socialMedia {
    grid-gap: 2rem;
  }
}

.socialMedia svg {
  width: 3rem;
  fill: $mohogany;
  margin: 0.5rem;
  height: 3rem;
}

@media (min-width: $tablet) {
  .socialMedia svg {
    margin: 0;
    height: 4rem;
  }
}

@media (min-width: $laptop) {
  .socialMedia svg {
    width: 4rem;
  }
}

.socialMedia svg:hover {
  fill: $red;
  transition: 0.1s ease-in;
}

.header-title {
  color: $mohogany;
  // height: 15rem;
  font-family: $mainFont;
  text-transform: uppercase;
  text-align: center;
  // display: flex;
  font-size: 5rem;
  line-height: 13rem;
  height: 13rem;
}

@media (min-width: $laptop) {
  .header-title {
    line-height: 11rem !important;
  }
}

.header {
  .vectorbox {
    height: 15rem;
  }
}
.header-fill {
  top: 0;
  height: 4rem;
  background-color: $yellow;
}
@media (min-width: $smallphone) {
  .header-fill {
    height: 6rem;
  }
}
@media (min-width: $laptop) {
  .header-fill {
    height: 10rem;
  }
}
@media (min-width: $desktop) {
  .header-fill {
    height: 12rem;
  }
}
.vectorbox {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  position: absolute;
  text-align: left;
  left: 0;
  z-index: -1;
}

@media (min-width: $laptop) {
  .header {
    .vectorbox {
      height: 11rem;
    }
  }
}

.index.header {
  height: 65rem;

  .collage {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 76%,
      84% 88%,
      67% 94%,
      51% 96%,
      36% 94%,
      25% 88%,
      18% 83%,
      9% 79%,
      0 77%
    );
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 50rem;

    img {
      height: 70%;
      width: auto;
      right: 0;
      position: absolute;
      // top: 10rem;
      bottom: 0;
    }

    @media (min-width: $tablet) {
      img {
        width: 80%;
        height: auto;
      }
    }
    @media (min-width: $laptop) {
      img {
        height: 100%;
        width: auto;
      }
    }

    // @media (min-width: $laptop) {
    //   img {
    //     top: 0;
    //   }
    // }
  }

  .header-title {
    justify-content: left;
    text-align: left;
    line-height: normal !important;
    max-width: 100rem;
    font-size: 5rem !important;
    font-weight: bold;
    // width: ;

    @media (min-width: $tablet) {
      div {
        width: 50rem;
      }
    }
  }

  @media (min-width: $tablet) {
    .header-title {
      font-size: 7rem !important;
    }
  }
  @media (min-width: $laptop) {
    .header-title {
      font-size: 8rem !important;
      margin: auto;
    }
  }

  .vectorbox {
    height: 50rem;
  }
}

.vectorbox img {
  width: 100%;
  height: 100%;
}

.footervector {
  overflow: hidden;
  width: 100vw;
}
