@import "./variables";

.page-content.project {
  font-style: normal;
  max-width: 100rem;
  margin: auto;
  // font-weight: bold;
  .textBlock p {
    color: $mohogany;
    padding-top: 0;
    grid-gap: 3rem;
    text-align: left;
  }
}

.project {
  .aboutProject {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cards {
    display: grid;
    grid-row-gap: 3rem;
  }

  @media (min-width: $laptop) {
    .cards {
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
    }
  }

  .card {
    padding: 3rem;
    align-content: center;
    align-items: center;
    background-color: $lightYellow;
    border-radius: 1rem;
  }


  img {
    width: 100%;
    border-radius: 1rem;
  }

  .red {
    color: #cf5d53;
  }
  .green {
    color: #41d18b;
  }
  .blue {
    color: #51aced;
  }

  .textBlock video {
    width: 100%;
  }

  .button {
    width: 37rem;
    font-family: $mainFont;
    font-size: 1.75rem;
    background-color: $red;
    color: $yellow;
    margin: 3rem auto 2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    -moz-outline-radius: 0.4rem;
    font-style: normal;
  }
  .button:hover {
    // background-color: $yellow;
    background-color: inherit;
    color: $red;
    outline: 0.2rem solid $mohogany;
    transition: ease-in 0.15s;
    border-radius: 0.4rem;
  }
  

  h3 {
    color: $mohogany;
  }


  .row {
    display: grid;
    grid-gap: 1rem;
    //margin-top: 2rem;
    //margin-bottom: 2rem;
  }
  .textBlock {
    padding-top: 0;
    grid-gap: 3rem;
    color: black;
    text-align: left;
  }
  .space {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  .textBlock p {
    color: black;
  }

  .img-carousel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .img-width {
    width: 50% !important;
    padding: 1rem;
  }

  .vid-width {
    width: 50%;
    padding: 1rem;
  }

  .row-img {
    padding: 2rem;
    flex-basis: 100%;
  }

  .mySlides1,
  .mySlides2,
  .mySlides3 {
    display: none;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .prev:hover,
  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .row-padding {
    padding: 3rem;
  }

  .columnleft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
  }

  .right {
    float: right !important;
    width: 48%;
    //padding-left: 10%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .grid-item {
    background-color: #fff8ea;
    padding: 2rem;
    text-align: center;
  }

  .grid-dark {
    background-color: #ffedc5;
    padding: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.75rem;
    color: #cf5d53;
    text-align: center;
  }

  .grid-light {
    padding: 1rem;
  }

  .art-container {
    display: flex;
    padding: 10px;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .numbertext {
    color: #913132;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .cursor {
    cursor: pointer;
  }

  .close {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    font-weight: bold;
    fill: #ffedc5;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .popup-img {
    max-width: 30rem;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 5rem;
    max-width: 100rem;
  }
  .sub{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color: #913132;
    padding-top: 0.5rem;
  }

  @media only screen and (max-width: 700px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    .row-reverse {
      display: flex;
      flex-direction: column;
    }
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
    .art-container {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 400px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    .row-reverse {
      display: flex;
      flex-direction: column;
    }
    .grid-container {
      grid-template-columns: 1fr;
    }
    .art-container {
      display: flex;
      flex-direction: column;
    }
  }

}
