.publications {
  #myBtnContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 100%;
    font-style: normal;
    font-weight: bold;

    .btn {
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.75rem;
      padding: 0.75rem;
    }
  }

  @media (min-width: 850px) {
    #myBtnContainer {
      flex-direction: row;

      .btn {
        margin-right: 0.75rem;
        text-align: left;
      }
    }
  }

  .filterDiv {
    text-align: center;
    display: none; /* Hidden by default */
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: inline-grid !important;
  }

  /* Style the buttons */

  .btn:hover {
    background-color: $lightYellow;
  }

  .btn.active {
    background-color: $yellow;
    color: $mohogany;
  }

  img {
    width: 100%;
  }

  .show {
    display: block;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  @media (min-width: $tablet) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $laptop) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .gallery {
    max-width: 100rem;
    margin: auto;
  }

  .gallery-item-box {
    background-color: $lightYellow;
    grid-row-gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;

    img {
      border-radius: 1rem;
    }
  }

  .textBlock {
    font-size: 2rem;
    height: auto;
    padding-top: 2rem;
    width: 100%;

    div {
      text-align: left;
      width: 100%;
    }
  }

  .title {
    font-family: $mainFont;
    font-weight: bold;
    color: $mohogany;
  }


  .time {
    font-size: 1.5rem;
    text-align: left;
  }
  .hide {
    display: none !important;
  }

  .anav.nav-pills {
    //background-color: #ffedc5;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0.5%;
  }

  .nav-link {
    padding: .5rem 1rem;
    //margin-top: -5rem;
  }

  .nav-link:hover {
    color: #913132;
  }

  a.nav-link.active {
    color: $lightYellow !important;
    background: #cf5d53 !important;
    border-radius: 0.5rem;
    //padding-top: -1.5rem;
  }

  a.nav-link.active:hover {
    color: white !important;
    background: #913132 !important;
    background-size: 80%;
  }
}