$mohogany: #913132;
$red: #cf5d53;
$yellow: #ffedc5;
$lightYellow: #fff8ea;
$blue: #134360;
$brown: #cd9f7e;

$mainFont: "Playfair Display", serif;
$secondFont: "Raleway", sans-serif;

//for media queries
$smallphone: 320px;
$phone: 400px;
$tablet: 700px;
$laptop: 1000px;
$desktop: 1400px;
